#app {
    height: 100%;
}
#App {
    height: 100vh;
    height: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#data {
    padding: 20px;
}
#data #kvs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}
#data .kv {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-bottom: 10px;
}
#data .kv div {
    padding: 5px;
}
#data .kv .key {
    background-color: blue;
    color: lightblue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#data .kv .value {
    background-color: lightblue;
    color: darkblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Grouping */
.group {
    background-color: #3d3d3d;
    margin-bottom: 20px;
    border-radius: 10px;
}
.group h2 {
    padding: 10px;
    font-weight: bold;
    font-size:1.2rem;
}
.shadow {
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,
              100%, 0.075),
              /* shadow ring 👇 */
              0 0 0 1px hsla(0, 0%, 0%, 0.05),
              /* multiple soft shadows 👇 */
              0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
              0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
              0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

/* Condition tables */
.conditions table {
    width: 100%;
}

.conditions .rounded-left, .conditions table, .conditions thead {
    border:0;
    border-top-left-radius: 10px;
}

.conditions .rounded-right, .conditions table, .conditions thead {
    border:0;
    border-top-right-radius: 10px;
}

#hf_conditions > table > tbody > tr:nth-child(8) > td:nth-child(1) {
    border:0;
    border-bottom-left-radius: 10px;
}

#hf_conditions > table > tbody > tr:nth-child(8) > td:nth-child(3) {
    border:0;
    border-bottom-right-radius: 10px;
}

#vhf_conditions > table > tbody > tr:nth-child(5) > td:nth-child(1) {
    border:0;
    border-bottom-left-radius: 10px;
}

#vhf_conditions > table > tbody > tr:nth-child(5) > td:nth-child(3) {
    border:0;
    border-bottom-right-radius: 10px;
}

.conditions table th {
    font-weight: bold;
    text-align: left;
}

.conditions tr:nth-child(even){background-color: lightblue; color: darkblue;}
.conditions tr:nth-child(odd){background-color: #2f2f2f; color:lightblue}

.conditions tr.day{background-color: lightblue; color: darkblue;}
.conditions tr.night{background-color: #2f2f2f; color:lightblue}

.conditions th {
    text-align: left;
    background-color: blue;
    color: lightblue;
}
.conditions th, .conditions td {
    padding: 10px;
    /* border: 1px solid blue; */
}

/* Credit */
#credit {
    margin-top: auto;

    background-color: #444;
    padding: 20px;
}
#credit a {
    color: #fff;
}

